<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NewTestBinding" />
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <remove scheme="http" />
      <add scheme="http" binding="wsHttpBinding" bindingConfiguration="NewTestBinding" />
    </protocolMapping>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewTestEnpPointBehavior">
          <clientCredentials  />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="NewTestServiceBehaviorDebug">
          <serviceDebug />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewTestServiceBehaviorDebug"
          name="WcfServiceLibrary.MyTestService">
        <endpoint address="http://localhost:8081/MyTestService" binding="wsHttpBinding"
            bindingConfiguration="" contract="WcfServiceLibrary.IMyTestService" />
        <endpoint binding="mexHttpBinding" bindingConfiguration="" name="Mex"
            contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>