<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="NewTesHttpBinding" />
      </wsHttpBinding>
    </bindings>
    <protocolMapping>
      <remove scheme="http" />
      <add scheme="http" binding="wsHttpBinding" bindingConfiguration="NewTesHttpBinding" />
    </protocolMapping>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewTestEnpPointBehavior">
          <clientCredentials />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="NewTestServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8733/MyTestService/Mex" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewTestServiceBehavior" name="WcfServiceLibrary.MyTestService">
        <endpoint address="http://localhost:8733/MyTestService" binding="wsHttpBinding" bindingConfiguration="" name="MyDefaultEndPoint" contract="WcfServiceLibrary.IMyService" />
        <endpoint address="http://localhost:8733/MyTestService/Mex" binding="mexHttpBinding" bindingConfiguration="" name="Mex" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>