<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyFirstService" />
                <binding name="BasicHttpBinding_IMySecondWCFService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50613/MyFirstService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyFirstService"
                contract="MyFisrServiceWCFReference.IMyFirstService" name="BasicHttpBinding_IMyFirstService" />
            <endpoint address="http://localhost:50613/MySecondWCFService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMySecondWCFService"
                contract="MySecondWCFServiceReference.IMySecondWCFService"
                name="BasicHttpBinding_IMySecondWCFService" />
        </client>
    </system.serviceModel>
</configuration>